<div class="root" [@appeard]="state">
  <div class="container">
    <div class="content">

      <div class="text">
        <h1 class="title">Inputs</h1>
        <p>Abaixo os inputs</p>
      </div>

      <div class="row" *ngIf="show" [@listAnimation]="inputs.length">
        <div class="col-12" *ngFor="let item of inputs">

          <ng-container *ngIf="item.name === 'Standard'">
            <div class="label">{{ item.name }}</div>

            <app-input 
              type="text" 
              [form]="form" 
              label="Padrão" 
              [required]="false"
              [control]="item.control" 
              placeholder="Input padrão">
            </app-input>

            <pre>{{ item.code }}</pre>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>