<div class="root" [@appeard]="state">
  <div class="container">
    <div class="content">

      <div class="text">
        <h1 class="title">Items</h1>
        <p>Abaixo os itens (label + value)</p>
      </div>

      <div class="row" *ngIf="show" [@listAnimation]="items.length">
        <div class="col-12" *ngFor="let item of items">
          <div class="container-item">
            <app-item 
              [label]="item.label" 
              [value]="item.value" 
              [type]="item.type">
            </app-item>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>