@import "../../scss/includes.scss";

.root {
    @include grid(32);

    .container {
        @include grid-column-span(32);
        margin-bottom: 32px;
        margin-top: 32px;

        .content {
            padding: 64px;
            border-radius: 0.8rem;
            margin: 24px 0 24px 0;
            border: 0px !important;
            background: $color-background;
            box-shadow: 2px 4px 8px 0 $color-shadow;

            .text {
                margin-bottom: 1rem;

                .title {
                    font-weight: bold;
                    color: $color-primary;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
                }
            }

            @include large-and-down {
                padding: 32px;
            }

            i {
                font-size: 18px;
            }
        }

        .container-color {
            @include start;
            align-items: center;
            transition: all 0.2s ease-in-out;
        }
    }
}
