<div class="root" [@appeard]="state">
  <div class="container">
    <div class="content">

      <div class="text">
        <h1 class="title">Typograph</h1>
        <p>Abaixo os textos</p>
      </div>

      <div class="row" *ngIf="show" [@listAnimation]="typograph.length">
        <div class="col-6" *ngFor="let item of typograph">
          <h1 *ngIf="item.name === 'Título'" class="title">Título</h1>
          <div *ngIf="item.name !== 'Título'" [innerHTML]="item.code"></div>

          <pre>
            {{ item.code }}

            <i 
              class="fa fa-clone"
              (click)="clip(item.code)"
              matTooltipPosition="above" 
              matTooltip="Clique para copiar">
            </i>
          </pre>
        </div>
      </div>

    </div>
  </div>
</div>