<div class="root" [@appeard]="state">
  <div class="container">
    <div class="content">

      <div class="text-center mb-3">
        <i class="icon fa fa-pencil-square mr-3"></i>
      </div>

      <h1>Bem-vindo ao Styleguide!</h1>
      <p>Navegue pelo menu para acessar os componentes</p>

      <div class="bar"></div>

      <p>Clique no botão abaixo para acessar o projeto</p>

      <div class="row" *ngIf="show" [@listAnimation]="home.length">
        <div class="col-12" *ngFor="let item of home">
          <ng-container *ngIf="item.isExternal">
            <app-button 
              [theme]="item.theme" 
              [label]="item.label" 
              [icon]="item.icon" 
              (click)="goTo(item.route)">
            </app-button>
          </ng-container>

          <ng-container *ngIf="!item.isExternal">
            <app-button 
              [theme]="item.theme" 
              [label]="item.label" 
              [icon]="item.icon" 
              [routerLink]="item.route">
            </app-button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>