@import "/src/app/scss/includes.scss";

.root {
  @include z-index("universe");
  position: fixed;
  width: 100%;

  .nav {
    @include z-index("universe");
    background: $color-background;
    box-shadow: 0 1px 15px $color-shadow;
    height: 65px;

    .content {
      @include between;
      margin: 12px 0;

      @include large-and-up {
        margin: 12px;
      }

      .menu {
        @include start;
        font-family: $font-montserrat !important;

        .button-menu {
          @include start;
        }
      }
    }
  }

  .highlight {
    color: $color-primary;
    font-weight: bold;
  }
}
