<nav class="main-menu" *ngIf="!isMobile && !scrolled">
  <ul [@listAnimation]="content.length">
    <li *ngFor="let item of content" routerLinkActive="li-highlight">
      <a [routerLink]="item.router" routerLinkActive="text-highlight">
        <i [class]="item.icon"></i>
        <span class="nav-text">{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <ul class="bottom">
    <li routerLinkActive="li-highlight">
      <a routerLink="/gh-search" routerLinkActive="text-highlight">
        <i class="fa fa-github fa-2x"></i>
        <span class="nav-text"> GitHub Search </span>
      </a>
    </li>
  </ul>
</nav>